@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

.navbar-image-container {
  background-image: url("../public/images/homepage-banner.webp");
  height: 500px;
  background-size: cover;
  background-position: center;
}

.job-main-container {
  left: 5%;
  top: 72%;
}

.job-container {
  width: 31%;
}

.offices-container {
  margin-top: 700px;
}

@media (max-width: 1280px) {
  .offices-container {
    margin-top: 800px;
  }
}

@media (max-width: 1024px) {
  .job-container {
    width: 45%;
  }

  .offices-container {
    margin-top: 1150px;
  }
}

.fiverr-way-container {
  width: 31%;
}

@media (min-width: 768px) {
  .mobile-navbar {
    display: none;
  }

  .desktop-navbar {
    display: block;
  }
}

@media (max-width: 768px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-navbar {
    display: block;
  }

  .job-container {
    width: 100%;
  }

  .offices-container {
    margin-top: 1900px;
  }

  .fiverr-way-container {
    width: 45%;
  }
}

@media (max-width: 640px) {
  .offices-container {
    margin-top: 1600px;
  }
  .navbar-image-container {
    height: 360px;
  }
}

@media (max-width: 426px) {
  .fiverr-way-container {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .offices-container {
    margin-top: 1700px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background-color: #f3f3f3;
}
