@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.job-main-container {
  left: 5%;
  top: 72%;
}

.job-container {
  width: 31%;
}

.offices-container {
  margin-top: 700px;
}

@media (max-width: 1280px) {
  .offices-container {
    margin-top: 800px;
  }
}

@media (max-width: 1024px) {
  .job-container {
    width: 45%;
  }

  .offices-container {
    margin-top: 1150px;
  }
}

.fiverr-way-container {
  width: 31%;
}

@media (min-width: 768px) {
  .mobile-navbar {
    display: none;
  }

  .desktop-navbar {
    display: block;
  }
}

@media (max-width: 768px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-navbar {
    display: block;
  }

  .job-container {
    width: 100%;
  }

  .offices-container {
    margin-top: 1900px;
  }

  .fiverr-way-container {
    width: 45%;
  }
}

@media (max-width: 426px) {
  .offices-container {
    margin-top: 2000px;
  }

  .fiverr-way-container {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .offices-container {
    margin-top: 2100px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}